.item {
    display: inline-block;
    width: 90%;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-color: maroon;
}

.item-name {
    float: left;
    text-align: left;
    width: 250px;
    margin-left: 50px;
}

.item-price {
    float: left;
    text-align: center;
    width: 50px;
    margin-left: 50px;
}

.item-add {
    float: right;
    text-align: center;
    border: none;
    width: 100px;
    margin-right: 50px;
    background-color: #ffffff;
}